html {
  font-size: 14px;
  background: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin:60px 0 60px;
  background-color: #111; /* Dark background color */
  background: url('https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff; /* White text color */
  font-family: 'Arial', sans-serif; /* Choose a suitable font */
}

.champion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: transparent; /* Remove the background color */
}

.champion-card {
  border: none;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.2s; /* Add a hover effect */
}

/* Apply scaling and lifting effects to champion card on hover */
.champion-card:hover {
  transform: scale(1.05) translateY(-5px); /* Scale up and lift the card */
  transition: transform 0.2s ease; /* Add a smooth transition effect */
  z-index: 1; /* Bring the hovered card to the front */
}


.champion-card h2 {
  font-size: 1.2rem;
  margin: 0;
  color: #c79242; /* Gold color for champion names */
}

.champion-card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #c79242; /* Gold color for champion categories */
}

.champion-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Add a slight border radius to the images */
}

/* Add these styles to match the League of Legends-inspired design */
#searchForm input::placeholder {
  color: #c79242; /* Gold color for placeholder text */
}

#searchForm input:focus {
  outline-color: #258cfb; /* Blue outline color on focus */
}

/* Increase specificity to override Bootstrap styles */
.custom-filter-btn.btn.btn-primary {
  background-color: #c79242; /* Gold color for buttons */
  border-color: #c79242;
  color: #111; /* Dark text color for buttons */
  font-weight: bold; /* Bold text for buttons */
  border-radius: 5px; /* Add rounded corners */
  padding: 10px 20px; /* Add padding for a larger button */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 1px; /* Add letter spacing for a more spaced out look */
  transition: background-color 0.2s ease; /* Add a smooth transition effect */
}

/* Style the filter buttons on hover */
.custom-filter-btn.btn.btn-primary:hover {
  background-color: #a4782c; /* Darker gold color on hover */
  border-color: #a4782c;
}


/* Style the search form container */
#searchForm {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

/* Style the search input */
#searchTerm {
  flex: 3;
  width: 80%;
  padding: 10px;
  margin-right: 10px; /* Add margin to create space between input and button */
  color: #c79242;
  background-color: transparent;
  border: 2px solid #c79242;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  font-style: normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Style the placeholder text not working as expected*/
#searchTerm::placeholder {
  color: #c79242;
}

/* Style the search button */
#searchForm button[type="submit"] {
  padding: 12px 24px;
  background-color: #c79242;
  border: none;
  color: #111;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#searchForm button[type="submit"]:hover {
  background-color: #a4782c;
  color: #fff;
}

/* For Items Page*/
.item-container{
  width:50%;
  float:right;
  background-color: #111;
  max-height: 400px;
  overflow-y: auto;
}

.item-grid {
  border: 1px solid #1b1a25;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1b1a25;
}

.item-grid:hover {
  background-color: #0056b3;
}
