@{
    ViewData["Title"] = "Champion Page";
}

@model List<Characters>

<h2>Characters</h2>
<br>
<!-- Create a form with a dropdown list and a button -->
<form method="post" asp-action="Filter">
    <input type="submit" name="role" value="All  " asp-action="Champion_Search" />
    <input type="submit" name="role" value="Tank" />
    <input type="submit" name="role" value="Mage" />
    <input type="submit" name="role" value="Bruiser" />
    <input type="submit" name="role" value="Fighter" />
    <input type="submit" name="role" value="Assassin" />
    <input type="submit" name="role" value="Marksman" />
    <input type="submit" name="role" value="Support" />
</form>
<br>
@if (Model != null)
{
    <div class="grid-container">
        <!-- Create a grid view to display the data -->
        @foreach (var character in Model)
        {
            <div class="grid-item">
                <div>Id: @character.Id</div>
                <div>Name: @character.Name</div>
                <div>Role: @character.Role</div>
            </div>
        }
    </div>
}
