@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Start of the League of Legends build calculator</p>
</div>
<nav>
    <ul>
        <li>@Html.ActionLink("Champion Search", "Champion_Search", "Champion_Search")</li>
    </ul>
</nav>
